<h1>Profiles</h1>




<p><%= link_to 'Boats page', boats_path %></p>

<% if user_signed_in? %>
    <p><%= link_to 'New Profile', new_profile_path %></p>
<% else %>
<% end %>

<table>
    <% @profiles.each do |pro|%>
    <tr>
        <td><%= link_to pro.name, profile_path(pro.id) %></td>    
        <% if pro.boat.nil? %>
        <% else %>     
            <td>Their a captain of a: <%= pro.boat.category %></td>  
        <% end %>                   
    </tr>
    <% end %>
</table>