<h1>About page</h1>

<%= image_tag("photos/surfing_cat.jpg") %>
 <td><%= cl_image_tag voy.voyage_image.key, crop: :scale, width: 300, cloud_name: 'diu8yxgel' if voy.voyage_image.attached?%></td> 



<h1>Our moto</h1>
<h2>
To leave no boat in the driveway, no yacht in the dock and no boaty left behind!
</h2>
<h3>Help out by creating a profile and joining in a voyage!</h3>