<h1>Boats</h1>

<% if user_signed_in?%>
    <p><%= link_to 'New Boat', new_boat_path %></p>
<% end %>

<p><%= link_to "profile page", profiles_path %></p>           

<table>
    <% @boats.each do |bo|%>
    <tr>
        <td><%= bo.profile.name %></td>           
        <td><%= link_to bo.category, boat_path(bo.id) %></td>           
    </tr>
    <% end %>
</table>
