<h1>Boats</h1>

<p><%= link_to 'New Boat', new_boat_path %></p>

<table>
    <% @boats.each do |bo|%>
    <tr>
        <td><%= bo.profile.name %></td>           
        <td><%= link_to bo.category, boat_path(bo.id) %></td>           
    </tr>
    <% end %>
</table>
