 <% if flash[:errors] %>
      <section id="errors">
        <% flash[:errors].each do |error| %>
          <p><%= error %></p>
        <% end %>
      </section>
    <% end %>
    <% if flash[:notice] %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <p class="alert"><%= alert %></p>