
<footer class="p-auto fixed-bottom">
    <div>
        <p><small class="text-white-50">
            All Rights Reserved &copy; Sebastain Teisen 2021
        </small></p>
    </div>
</footer>


























<%
=begin%>
 


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
  <a href="https://twitter.com/el_alturas" class="btn btn-social-icon btn-twitter" target="_blank">
    <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
  </a>
  <a href="https://twitter.com/el_alturas" class="btn btn-social-icon btn-youtube" target="_blank">
    <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-youtube-square fa-stack-1x"></i>
</span>
  </a>
</div>




<footer class="p-auto">
    <div>
    
        <div class="container">
            <div>
                <h2>Bootstrap</h2>
                <p class="pr-5 test-white-50">
                    ttttttttttttttttttttttttttttttttttttttttttttttttttttttt
                </p>
                <ul class="social">
                    <li><a href="#"><li class="fa fa-facebook"></a></li>
                    <li><a href="#"><li class="fa fa-twitter"></a></li>
                    <li><a href="#"><li class="fa fa-linkind"></a></li>
                    <li><a href="#"><li class="fa fa-pinterest"></a></li>
                </ul>
            </div>
            <div>
                <h4 class="mt-lg0 mt-sm-3">Quick Links</h4>
                    <li>..  <a href="#">Lorem, ipsum.</a></li>
                    <li>..  <a href="#">Lorem, ipsum.</a></li>
                    <li>..  <a href="#">Lorem, ipsum.</a></li>
                    <li>..  <a href="#">Lorem, ipsum.</a></li>
                    <li>..  <a href="#">Lorem, ipsum.</a></li>
                    <li>..  <a href="#">Lorem, ipsum.</a></li>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg0 mt-sm-4">Location</h4>
                <p><li class="fa fa-map-marker">kljh k;h; lhj amet.</li></p>
                <p><li class="fa fa-phone"> (111) 111-111</li></p>
                <p><li class="fa fa-envelope-o">info@abocdev.com</li></p>

            </div>
            <div class="row mt-5">
                <div class="col copyright text-center">
                    <p><small class="text-white-50">
                        All Rights Reserved &copy; Sebastain Teisen 2021
                    </small></p>
                </div>
            </div>
        </div>
    </div>

</footer> 
<%
=end%>
